[global]
default format = "%d(%F %T).%us%d(%z) [%V] (%p:%c:%F:%L) %m%n"
file perms = 644

[rules]
default.* >stdout
${name}.DEBUG "logs/${elem}.zlog.DEBUG", 10MB*2
${name}.INFO "logs/${elem}.zlog.INFO", 10MB*2
${name}.WARN "logs/${elem}.zlog.WARNING", 10MB*2
${name}.ERROR "logs/${elem}.zlog.ERROR", 10MB*2
${name}.FATAL "logs/${elem}.zlog.CRITICAL", 10MB*2
