build --workspace_status_command=./tools/bazel-build-env --show_timestamps --remote_cache=grpc://localhost:9092 --experimental_remote_downloader=grpc://localhost:9092  --incompatible_default_to_explicit_init_py
test --incompatible_default_to_explicit_init_py

test:unit --test_tag_filters=unit --build_tests_only --print_relative_test_log_paths //...

test:lint --test_tag_filters=lint --build_tests_only --print_relative_test_log_paths --test_summary terse --test_output errors --noshow_progress --experimental_convenience_symlinks=ignore //...
