[submodule "sub/lwip"]
	path = sub/lwip
	url = git@github.com:scionproto/scion-lwip.git
[submodule "sub/lwip-contrib"]
	path = sub/lwip-contrib
	url = git@github.com:scionproto/scion-lwip-contrib.git
