include README.md
include scion.sh

recursive-include supervisor *
recursive-include external *
recursive-include doc *
recursive-include sphinx-doc *
recursive-include tools *

include topology/*.py
include topology/ADConfigurations.json
include topology/PathPolicy.json
include topology/FidelityTest.json

# Include NaCl
recursive-include lib/crypto/python-tweetnacl-20140309 *
recursive-exclude lib/crypto/python-tweetnacl-20140309/build *

exclude *.pyc, *.pyo

