version: "3.4"
x-br: &br
  environment:
    SU_EXEC_USERSPEC: "$LOGNAME"
  image: scion_border
  network_mode: "service:dispatcher"
  volumes:
    - "/etc/passwd:/etc/passwd:ro"
    - "/etc/group:/etc/group:ro"
    - "/run/shm/dispatcher:/run/shm/dispatcher"
    - "../../logs:/share/logs"
    - "${TEST_ARTIFACTS_DIR}/conf:/share/conf"
services:
  dispatcher:
    image: scion_dispatcher_go
    network_mode: none
    environment:
      SU_EXEC_USERSPEC: "$LOGNAME"
    volumes:
      - "/etc/passwd:/etc/passwd:ro"
      - "/etc/group:/etc/group:ro"
      - "/run/shm/dispatcher:/run/shm/dispatcher"
      - "../../logs:/share/logs"
      - "./dispatcher-conf:/share/conf"
  core-brA:
    <<: *br
  core-brB:
    <<: *br
  core-brC:
    <<: *br
  brA:
    <<: *br
  brB:
    <<: *br
  brC:
    <<: *br
  brD:
    <<: *br
