recommonmark
Sphinx
sphinx_copybutton
sphinx_design
sphinx-autobuild
sphinx-lint
sphinx-rtd-theme
sphinxcontrib-openapi
sphinxcontrib-mermaid

# Pinning the versions of the indirect requirements to fix Dependabot alerts.
urllib3 >= 2.7.0
idna >= 3.15
mistune >= 3.2.1
