{% if is_paginated %}
  <div class="pagination">
    <span class="page-links">
      {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"> << </a>
      {% endif %}
      <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
      {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"> >> </a>
      {% endif %}
    </span>
  </div>
{% endif %}