<h4>Routers</h4>
<table class="table table-striped element-table" id="routers-table">
  <thead>
  <tr>
    <th></th>
    <th class="col-md-2 text-center">Address</th>
    <th class="col-md-2 text-center">Interface in-address</th>
    <th class="col-md-2 text-center">Interface out-address</th>
    <th class="col-md-1 text-center">Neighbor AS</th>
    <th class="col-md-1">Neighbor type</th>
    <th class="col-md-2 text-center">Status</th>
  </tr>
  </thead>
  <tbody>
  {% for router in routers %}
    <tr id="{{ router.id_str }}">
      <td>Router {{ router.name }}</td>
      <td class="text-center">{{ router.addr }}</td>
      <td class="text-center">{{ router.interface_addr }}</td>
      <td class="text-center">{{ router.interface_toaddr }}</td>
      <td class="text-center">
        <a href="{{ router.neighbor_ad.get_absolute_url }}">{{ router.neighbor_ad }}</a>
      </td>
      <td>{{ router.neighbor_type }}</td>
      <td class="status-column">
        {% with element=router %}
          {% include 'ad_manager/partials/status_block.html' %}
        {% endwith %}
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="8"><i>No routers</i></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
