#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

$(info Building on $(DEB_BUILD_GNU_TYPE))
$(info Building for $(DEB_HOST_GNU_TYPE))
$(info Host Arch $(DEB_HOST_ARCH))
$(info Host OS   $(DEB_HOST_ARCH_OS))
$(info Host CPU  $(DEB_HOST_ARCH_CPU))
$(info Using CC  $(CC))
$(info Using CXX $(CXX))

CC=$(DEB_HOST_GNU_TYPE)-gcc
CXX=$(DEB_HOST_GNU_TYPE)-g++

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEBDIR=$(shell pwd)/debian
DESTDIR=$(DEBDIR)/build
PREFIX=/usr

LIBDIR=$(PREFIX)/lib/$(DEB_HOST_GNU_TYPE)
PKGDIR=$(LIBDIR)/pkgconfig
INCDIR=$(PREFIX)/include
BINDIR=$(PREFIX)/bin
ETCDIR=/etc
TARGETLIB=$(DESTDIR)$(LIBDIR)
TARGETINC=$(DESTDIR)$(INCDIR)
TARGETPKG=$(DESTDIR)$(PKGDIR)
TARGETBIN=$(DESTDIR)$(BINDIR)
TARGETETC=$(DESTDIR)$(ETCDIR)

%:
	dh $@ 

override_dh_auto_clean:
	make libscion target=clean
	make libfilter target=clean
	make dispatcher target=clean
	rm -rf bin/*

override_dh_auto_build:
	echo 'build'
	make libscion CC=$(CC) CXX=$(CXX)
	make libfilter CC=$(CC) CXX=$(CXX)
	make dispatcher CC=$(CC) CXX=$(CXX)
	CC=$(CC) CROSS_GOOS=$(DEB_HOST_ARCH_OS) CROSS_GOARCH=$(DEB_HOST_ARCH_CPU) ./build-in-tmp.sh

override_dh_auto_install:
	# Make debian build directory
	mkdir -p $(DESTDIR)
	
	# Install libscion
	make libscion target=install DESTDIR=$(DESTDIR) PREFIX=$(PREFIX) LIBRARY_PATH=lib/$(DEB_HOST_GNU_TYPE)
	
	# Copy files for libscion0
	mkdir -p $(DEBDIR)/libscion0$(LIBDIR)
	cp $(TARGETLIB)/libscion.so $(DEBDIR)/libscion0$(LIBDIR)/libscion.so
	ln -sf libscion.so $(DEBDIR)/libscion0$(LIBDIR)/libscion.so.0
	
	# Copy files for libscion0-dev
	mkdir -p $(DEBDIR)/libscion0-dev$(LIBDIR)
	mkdir -p $(DEBDIR)/libscion0-dev$(PKGDIR)
	mkdir -p $(DEBDIR)/libscion0-dev$(INCDIR)/scion
	cp $(TARGETPKG)/scion.pc $(DEBDIR)/libscion0-dev$(PKGDIR)/scion.pc
	cp $(TARGETLIB)/libscion.a $(DEBDIR)/libscion0-dev$(LIBDIR)/libscion.a
	cp -r $(TARGETINC)/scion/* $(DEBDIR)/libscion0-dev$(INCDIR)/scion
	
	# Install libfilter0
	make libfilter target=install DESTDIR=${DESTDIR} PREFIX=$(PREFIX) LIBRARY_PATH=lib/$(DEB_HOST_GNU_TYPE)
	
	# Copy files for libfilter0
	mkdir -p $(DEBDIR)/libfilter0$(LIBDIR)
	cp $(TARGETLIB)/libfilter.so $(DEBDIR)/libfilter0$(LIBDIR)/libfilter.so
	ln -sf libfilter.so $(DEBDIR)/libfilter0$(LIBDIR)/libfilter.so.0
	
	# Copy files for libfilter0-dev
	mkdir -p $(DEBDIR)/libfilter0-dev$(LIBDIR)
	mkdir -p $(DEBDIR)/libfilter0-dev$(PKGDIR)
	mkdir -p $(DEBDIR)/libfilter0-dev$(INCDIR)/scion-filter
	cp $(TARGETPKG)/scion-filter.pc $(DEBDIR)/libfilter0-dev$(PKDIR)/scion-filter.pc
	cp $(TARGETLIB)/libfilter.a $(DEBDIR)/libfilter0-dev$(LIBDIR)/libfilter.a
	cp -r $(TARGETINC)/scion-filter/* $(DEBDIR)/libscion0-dev$(INCDIR)/scion-filter
	
	# Install scion-dispatcher
	make dispatcher target=install DESTDIR=${DESTDIR} PREFIX=$(PREFIX) LIBRARY_PATH=lib/$(DEB_HOST_GNU_TYPE)
	
	# Copy files for scion-dispatcher
	mkdir -p $(DEBDIR)/scion-dispatcher$(BINDIR)
	mkdir -p $(DEBDIR)/scion-dispatcher$(ETCDIR)/scion
	cp $(TARGETBIN)/dispatcher $(DEBDIR)/scion-dispatcher$(BINDIR)/dispatcher
	cp $(TARGETETC)/scion/dispatcher.conf $(DEBDIR)/scion-dispatcher$(ETCDIR)/scion/dispatcher.conf
	
	# Copy files for scion-daemons
	mkdir -p $(DEBDIR)/scion-daemons$(BINDIR)
	echo $(shell pwd)
	cp bin/* $(DEBDIR)/scion-daemons$(BINDIR)/
	#dh $

#override_dh_shlibdeps
#	LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:$(pwd)/debian/libscion0/usr/lib:$(pwd)/debian/libfilter0/usr/lib:$(pwd)/debian/libtcpmw0/usr/lib dh_shlibdeps --dpkg-shlibdeps-params="--ignore-missing-info"

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

