#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
BUILDDIR := debian/build
DESTDIR := ${CURDIR}/${BUILDDIR}

%:
	dh $@ 

override_dh_auto_clean:
	make libfilter target=clean
	make libscion target=clean
	make libtcpmw target=clean
	make dispatcher target=clean
	rm -rf bin/*

override_dh_auto_build:
	make libscion
	make libfilter
	make liblwip
	make libtcpmw
	make dispatcher
	./build-in-tmp.sh

override_dh_auto_install:
	make libscion target=install DESTDIR=${DESTDIR} PREFIX=/usr
	cp ${DESTDIR}/usr/lib/libscion.so debian/libscion0/usr/lib/libscion.so
	ln -s libscion.so debian/libscion0/usr/lib/libscion.so.0
	
	cp ${DESTDIR}/usr/lib/pkgconfig/scion.pc debian/libscion0-dev/usr/lib/pkgconfig/scion.pc
	cp ${DESTDIR}/usr/lib/libscion.a debian/libscion0-dev/usr/lib/libscion.a
	cp -r ${DESTDIR}/usr/include/scion/* debian/libscion0-dev/usr/include/scion
	
	make libfilter target=install DESTDIR=${DESTDIR} PREFIX=/usr
	cp ${DESTDIR}/usr/lib/libfilter.so debian/libfilter0/usr/lib/libfilter.so
	ln -s libfilter.so debian/libfilter0/usr/lib/libfilter.so.0
	
	cp ${DESTDIR}/usr/lib/pkgconfig/scion-filter.pc debian/libfilter0-dev/usr/lib/pkgconfig/scion-filter.pc
	cp ${DESTDIR}/usr/lib/libfilter.a debian/libfilter0-dev/usr/lib/libfilter.a
	cp -r ${DESTDIR}/usr/include/scion-filter/* debian/libscion0-dev/usr/include/scion-filter
	
	make libtcpmw target=install DESTDIR=${DESTDIR} PREFIX=/usr
	cp ${DESTDIR}/usr/lib/libtcpmw.so debian/libtcpmw0/usr/lib/libtcpmw.so
	cp ${DESTDIR}/usr/lib/liblwip.so debian/libtcpmw0/usr/lib/liblwip.so
	ln -s libtcpmw.so debian/libtcpmw0/usr/lib/libtcpmw.so.0
	ln -s liblwip.so debian/libtcpmw0/usr/lib/liblwip.so.0
	
	make dispatcher target=install DESTDIR=${DESTDIR} PREFIX=/usr
	cp ${DESTDIR}/usr/bin/dispatcher debian/scion-dispatcher/usr/bin/dispatcher
	cp ${DESTDIR}/etc/scion/dispatcher.conf debian/scion-dispatcher/etc/scion/dispatcher.conf
	
	cp bin/* debian/scion-daemons/usr/bin/

override_dh_shlibdeps:
	LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:$(pwd)/debian/libscion0/usr/lib:$(pwd)/debian/libfilter0/usr/lib:$(pwd)/debian/libtcpmw0/usr/lib dh_shlibdeps --dpkg-shlibdeps-params="--ignore-missing-info"

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

