{% extends "ad_manager/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block js %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="{% static 'js/ad_detail.js' %}"></script>
{% endblock %}

{% block content %}
  {% include 'ad_manager/object_path.html' %}

  <h4 class="core-ad-label">
    Core AD:
    {{ object.is_core_ad|yesno:"Yes,No,???" }}
    <span class="glyphicon glyphicon-{{ object.is_core_ad|yesno:"ok,remove," }}"></span>
  </h4>
  <br />

  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#servers" aria-controls="servers" role="tab" data-toggle="tab">Servers</a></li>
      <li role="presentation"><a href="#topology" aria-controls="topology" role="tab" data-toggle="tab">Topology</a></li>
      <li role="presentation"><a href="#updates" aria-controls="updates" role="tab" data-toggle="tab">Software updates</a></li>
      <li role="presentation"><a href="#requests" aria-controls="requests" role="tab" data-toggle="tab">Connection requests</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <!-- Server status tab -->
      <div role="tabpanel" class="tab-pane active" id="servers">
        <div>
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-info pull-right" id="update-ad-btn">Update status</button>
          </div>
        </div>

        {% with table_name='Beacon servers' servers=beacon_servers table_id='beacon-servers' %}
          {% include 'ad_manager/server_table.html' %}
        {% endwith %}

        {% with table_name='Certificate servers' servers=certificate_servers table_id='certificate-servers' %}
          {% include 'ad_manager/server_table.html' %}
        {% endwith %}

        {% with table_name='Path servers' servers=path_servers table_id='path-servers' %}
          {% include 'ad_manager/server_table.html' %}
        {% endwith %}

        {% with table_name='DNS servers' servers=dns_servers table_id='dns-servers' %}
          {% include 'ad_manager/server_table.html' %}
        {% endwith %}

        {% include 'ad_manager/router_table.html' %}
        <br /><br />
      </div>

      <!-- Topology tab -->
      <div role="tabpanel" class="tab-pane" id="topology">
        <br />

        <p>Connect to this AD by generating a new installation package</p>
        <form method="POST" action="{% url 'connect_new_ad' object.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-default click-confirm" id="generate-new-btn">
            Generate
          </button>
        </form>

        <br />
        {% for message in messages %}
          {% if 'topology' in message.tags %}
            <br />
            <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
          {% endif %}
        {% endfor %}
        <hr />

        <p>Create a new link by connecting two existing ADs</p>
        <a href="{% url 'new_link' object.id %}" class="btn btn-default">Add link</a>
        <hr />

        <p>The stored topology might be out of sync with the real topology</p>
        <div>
          <button type="button" class="btn btn-info" id="compare-topology-btn">Check topology</button>
          <form method="POST" action="{% url 'update_topology' object.id %}">
            <br />
            {% csrf_token %}
            <button type="submit" class="btn btn-default click-confirm" id="update-topology-btn" name="_pull_topology">
              Update the local topology
            </button>

            <button type="submit" class="btn btn-default click-confirm" id="push-update-topology-btn" name="_push_topology">
              Push the topology
            </button>

          </form>
        </div>
        <br/>
        <div id="topology-info" class="alert" role="alert"></div>

      </div>

      <!-- Updates tab -->
      <div role="tabpanel" class="tab-pane" id="updates">
        <br />
        <div>
          {% for message in messages %}
            {% if 'updates' in message.tags %}
              <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>

        <div>
          <form method="POST" action="{% url 'update_action' object.id %}">
            {% csrf_token %}

            <div class="row">
              <div class="col-md-8">
                {% bootstrap_form choose_version_form %}
              </div>
              <div class="col-md-2" id="refresh-btn-container">
                <button type="submit" class="btn btn-default" id="refresh-versions-btn" name="_refresh_packages">
                  Refresh
                </button>
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col-md-3">
                <button type="submit" class="btn btn-warning click-confirm" id="send-updates-btn"
                        data-confirmation="Are you sure? All unsaved data will be lost!" name="_install_update">
                  Install the update
                </button>
              </div>
              <div>Push updates to the server</div>
            </div>

            <br />
            <div class="row">
              <div class="col-md-3">
                <button type="submit" class="btn btn-default" id="download-updates-btn" name="_download_update">
                  Download the update
                </button>
              </div>
              <div>Download the SCION distribution</div>
            </div>
          </form>
        </div>
      </div>

      <!-- Updates tab -->
      <div role="tabpanel" class="tab-pane" id="requests">
        {% with ad=object %}
          {% include 'ad_manager/connection_requests.html' %}
        {% endwith %}
      </div>
    </div>
  </div>

  <!-- JS variables passed from the view to JavaScript files -->
  <script>
    var isdAdId = '{{ object }}';
    var adDetailUrl = '{% url 'ad_status' object.id %}';
    var adCompareUrl = '{% url 'compare_topology' object.id %}';
    var getMasterUrl = '{% url 'get_group_master' object.id %}';
  </script>

{% endblock %}