{% extends "ad_manager/base.html" %}
{% load staticfiles %}

{% block js %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="{% static 'js/ad_detail.js' %}"></script>
{% endblock %}

{% block content %}
  <h1>AD {{ object }}</h1>

  <h4>
    Core AD:
    {{ object.is_core_ad }}
    <span class="glyphicon glyphicon-{{ object.is_core_ad|yesno:"ok,remove," }}" aria-hidden="true"></span>
  </h4>
  <hr />

  <div>
    <div class="col-md-11"></div>
    <div class="col-md-1">
      <button type="button" class="btn btn-info" id="update-ad-btn">Update</button>
    </div>
  </div>

  {% with table_name='Beacon servers' servers=beacon_servers table_id='beacon-servers' %}
    {% include 'ad_manager/server_table.html' %}
  {% endwith %}

  {% with table_name='Certificate servers' servers=certificate_servers table_id='certificate-servers' %}
    {% include 'ad_manager/server_table.html' %}
  {% endwith %}

  {% with table_name='Path servers' servers=path_servers table_id='path-servers' %}
    {% include 'ad_manager/server_table.html' %}
  {% endwith %}

  <h4>Routers</h4>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="col-md-2">Address</th>
      <th class="col-md-2">Interface in-address</th>
      <th class="col-md-2">Interface out-address</th>
      <th class="col-md-2">Neighbor AD</th>
      <th class="col-md-2">Neighbor type</th>
    </tr>
    </thead>
    <tbody>
    {% for router in routers %}
      <tr>
        <td>Router {{ forloop.counter }}</td>
        <td>{{ router.addr }}</td>
        <td>{{ router.interface.addr }}</td>
        <td>{{ router.interface.to_addr }}</td>
        <td>{{ router.interface.neighbor_isd }}-{{ router.interface.neighbor_ad }}</td>
        <td>{{ router.interface.neighbor_type }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br />


  <!-- JS variables -->
  <script>
    var isdAdId = '{{ object }}';
    var adDetailUrl = '{% url 'ad_status' object.id %}';
  </script>

{% endblock %}