<br />

<p>Send a connection request</p>
<a href="{% url 'new_connection_request' object.id %}" class="btn btn-default">New request</a>
<hr />

<h2>Received requests</h2>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-2">Created by</th>
    <th>Info</th>
    <th class="col-md-1">Router IP</th>
    <th class="col-md-1">Status</th>
    <th class="col-md-2">Actions</th>
  </tr>
  </thead>

  <tbody>
  {% for request in received_requests %}
    <tr>
      <td>{{ request.created_by }}</td>
      <td><pre>{{ request.info }}</pre></td>
      <td>{{ request.router_ip }}</td>
      <td>{{ request.status}}</td>
      <td>
        <form method="POST" action="{% url 'connection_request_action' ad.id request.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success btn-sm click-confirm" name="_approve_request">
            Approve
          </button>
          <button type="submit" class="btn btn-danger btn-sm click-confirm" name="_decline_request">
            Decline
          </button>
        </form>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="4"><i>No requests</i></td>
    </tr>
  {% endfor %}
  </tbody>
</table>