{% extends "ad_manager/base.html" %}

{% block content %}
  <h1>
    <a href="{% url 'list_isds' %}" class="glyphicon glyphicon-home"></a>
    <span class="glyphicon glyphicon-menu-right"></span>
    ISD {{ object.id }}
  </h1>
  <hr>
  <ul>
    {% for ad in object_list|dictsort:'id' %}
      <li>
        <a href="{% url 'ad_detail' ad.id %}">AD {{ ad }}</a>
        {% if ad.is_core_ad %} <span class="badge alert-warning">core</span> {% endif %}
      </li>
    {% empty %}
      <li>No ADs.</li>
    {% endfor %}
  </ul>

  {% include 'ad_manager/pagination_footer.html' %}

{% endblock %}
