<h4>Routers</h4>
<table class="table table-striped" id="routers-table">
  <thead>
  <tr>
    <th></th>
    <th class="col-md-1 text-center">Address</th>
    <th class="col-md-2 text-center">Interface in-address</th>
    <th class="col-md-2 text-center">Interface out-address</th>
    <th class="col-md-2 text-center">Neighbor AD</th>
    <th class="col-md-2">Neighbor type</th>
    <th class="col-md-1">Status</th>
  </tr>
  </thead>
  <tbody>
  {% for router in routers %}
    <tr id="{{ router.id_str }}">
      <td>Router {{ forloop.counter }}</td>
      <td class="text-center">{{ router.addr }}</td>
      <td class="text-center">{{ router.interface_addr }}</td>
      <td class="text-center">{{ router.interface_toaddr }}</td>
      <td class="text-center">
        <a href="{% url 'ad_detail' router.neighbor_ad.id %}">{{ router.neighbor_ad }}</a>
      </td>
      <td>{{ router.neighbor_type }}</td>
      <td class="status">hi</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
