{% extends "ad_manager/base.html" %}

{% block content %}
  <h2>Connection requests submitted by <i>{{ user.username }}</i></h2>
  <br />

  <table class="table" id="sent-requests-tbl">
    <thead>
    <tr>
      <th class="col-md-1">AD</th>
      <th>Info</th>
      <th class="col-md-2">Router</th>
      <th class="col-md-1">Status</th>
      <th class="col-md-1">Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for request in sent_requests %}
      <tr>
        <td><a href="{{ request.connect_to.get_absolute_url }}">{{ request.connect_to }}</a></td>
        <td><pre>{{ request.info }}</pre></td>
        <td>{{ request.router_ip }} : {{ request.router_port }}</td>
        <td>{{ request.status}}</td>
        <td>
          {% if request.is_approved %}
            <a href="{% url 'download_request_package' request.id %}">Download</a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4"><i>No requests</i></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}