{% extends "ad_manager/base.html" %}

{% block content %}
  <h2>Connection requests submitted by <i>{{ user.username }}</i></h2>
  <br />

  <table class="table" id="sent-requests-tbl">
    <thead>
    <tr>
      <th class="col-md-1">AD</th>
      <th>Info</th>
      <th class="col-md-2">Router</th>
      <th class="col-md-1">Status</th>
      <th class="col-md-1">Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for request in sent_requests %}
      <tr>
        <td><a href="{{ request.connect_to.get_absolute_url }}">{{ request.connect_to }}</a></td>
        <td>
          <pre>{{ request.info }}</pre>
          {% comment %}
            FIXME(rev112): duplicated code, see connection_requests.html
          {% endcomment %}
          <div class="collapse" id="info-{{ request.id }}">
            <div class="well">
              <b>Bound socket</b> {{ request.router_bound_ip }} : {{ request.router_bound_port }} <br />
              <b>Public socket</b> {{ request.router_public_ip }} : {{ request.router_public_port }} <br />
              {% if request.new_ad %}
                New AD: <a href="{{ request.new_ad.get_absolute_url }}">{{ request.new_ad }}</a>
              {% endif %}
            </div>
          </div>
        </td>
        <td>{{ request.router_bound_ip }} : {{ request.router_bound_port }}</td>
        <td>
          <a role="button" data-toggle="collapse" href="#info-{{ request.id }}" aria-expanded="false" aria-controls="collapseExample">
            {{ request.status}}
          </a>
        </td>
        <td>
          {% if request.is_approved %}
            <a href="{% url 'download_request_package' request.id %}">Download</a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4"><i>No requests</i></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}