<h4>{{ table_name }}</h4>
<table class="table table-striped" id="{{ table_id }}-table">
  <thead>
  <tr>
    <th></th>
    <th class="col-md-3">Address</th>
    <th class="col-md-1">Status</th>
    <th class="col-md-1"></th>
  </tr>
  </thead>
  <tbody>
  {% for server in servers %}
    <tr id="{{ server.id_str }}">
      <td> Server {{ server.name }}</td>
      <td>{{ server.addr }}</td>
      <td class="status">%%%</td>
      <td class="control-btns">
        {% with element=server %}
          {% include 'ad_manager/control_form.html' %}
        {% endwith %}
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="4"><i>No servers</i></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br />
