<div class="status-block">
  <div class="row">
    <div class="status-text col-md-8" style="text-align: center;" data-element-id="{{ element.id_str }}" data-log-url="{% url 'read_log' element.ad.id element.id_str %}">
      ???
    </div>
    {% if user_has_perm %}
      <div class="control-btns">
        <form method="POST" action="{% url 'control_process' element.ad.id element.id_str %}" class="process-control-form">
          {% csrf_token %}
          <button type="submit" class="btn glyphicon glyphicon-stop" name="_stop_process"></button>
          <button type="submit" class="btn glyphicon glyphicon-play" name="_start_process"></button>
        </form>
      </div>
    {% endif %}
  </div>
</div>

<!-- Modal window: log output -->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log</h4>
      </div>
      <div class="modal-body">
        Log output for the element:
        <br />
        <br />
        <pre id="log-output">
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>